import * as express from 'express'
import { IService, ExpressOptions } from './interfaces'
import {createRouter} from './routes';
import swaggerRouter from './swagger/swagger';
export const createExpressServer = (service: IService, options?: ExpressOptions) => {
  const app = express();
  if (options.useSwagger) {
    app.use(swaggerRouter);
  }
  const routes = createRouter(service);
  app.use(routes);
  return app;
}

