import * as express from 'express'
import { IService, ExpressOptions } from './ts-webapi/interfaces'
import {svc} from './dummySvc'
import {createRouter} from './ts-webapi/routes'
const app = express();
const routes = createRouter(svc);
app.use(routes);
app.listen(5010,()=>{
  console.log('server started');
})
