import {svc} from './dummySvc'

import {createExpressServer} from './ts-webapi'
const app = createExpressServer(svc, {
  useSwagger: true
});

const port = 5010;
app.listen(port,()=>{
  console.log('server started on port', port);
})
